<div class="mainModule">
    <h1>SecurChat</h1>
    <h2>This is a chatroom app</h2>
    <p>
        <br><b>Possible future features include</b><br>
        - File sharing<br>
        - Voice and video calls<br>
        - A mobile app<br>
        <br>

        <b>WARNING</b><br>This app is still in development and should not be used for anything important.
    </p>
    <!-- <button (click)="LoginUser()">Login</button> -->
    <button (click)="generateChatRoom()">Generate Chat Room</button>

</div>